<div id="main">
  <!-- Intro -->
  <article class="lista active">
    <h2 class="major">Lista</h2>
    <span class="image main"><img src="/src/assets/images/abg_.png" alt=""/></span>
    <div class="showcase">
      <ul>
        <li *ngFor='let person of personArray'>
          <span [innerText]="person.fullName"></span>
        </li>
      </ul>
    </div>
  </article>
  <article class="tabela active">
    <h2 class="major">Tabela</h2>
    <span class="image main"><img src="/src/assets/images/abg_.png" alt=""/></span>
    <div class="showcase">
      <ul>
        <li *ngFor='let person of personArray'>
          <span [innerText]="person.fullName"></span>
        </li>
      </ul>
    </div>
  </article>
</div>

