<div id="main">
  <article class="review active">
    <h2 class="major">Przegląd</h2>
    <table class="tg">
      <tbody>
      <tr>
        <th class="tg-baqh" colspan="2"></th>
        <th class="tg-baqh" colspan="5">Czas ładowania komponentów (ms)<br></th>
      </tr>
      <tr>
        <td class="tg-baqh"></td>
        <td class="tg-baqh">Lista</td>
        <td class="tg-baqh">Tabela</td>
        <td class="tg-baqh">Wyszukiwarka</td>
        <td class="tg-baqh">Formularz</td>
        <td class="tg-baqh">Okno modalne</td>
      </tr>
      <tr>
        <td class="tg-baqh">Pomiar A</td>
        <td class="tg-baqh">1076 </td>
        <td class="tg-baqh">1122 </td>
        <td class="tg-baqh">1014 </td>
        <td class="tg-baqh">1031 </td>
        <td class="tg-baqh">1071 </td>
      </tr>
      <tr>
        <td class="tg-baqh">Pomiar B</td>
        <td class="tg-baqh">1021 </td>
        <td class="tg-baqh">1066 </td>
        <td class="tg-baqh">927 </td>
        <td class="tg-baqh">1000 </td>
        <td class="tg-baqh">1102 </td>
      </tr>
      <tr>
        <td class="tg-baqh">Pomiar C</td>
        <td class="tg-baqh">1075 </td>
        <td class="tg-baqh">965 </td>
        <td class="tg-baqh">571 </td>
        <td class="tg-baqh">589 </td>
        <td class="tg-baqh">569 </td>
      </tr>
      </tbody>
    </table>
  </article>
</div>
