<!-- Header -->
<header id="header">
  <div class="logo">
    <span class="icon fa-diamond"></span>
  </div>
  <div class="content">
    <div class="inner">
      <h1>Angular2</h1>
      <p>Aplikacja napisana przy użyciu technologii Angular2. Wybierz pozycję z menu, aby przejść dalej.</p>
    </div>
  </div>
  <nav>
    <ul>
      <li><a href="components">Komponenty</a></li>
      <li><a href="benefits">Zalety/Wady</a></li>
      <li><a href="review">Przegląd</a></li>
    </ul>
  </nav>
</header>
